.container {
  margin: 0 auto;
  width: 750px;
}

header {
  background-color: black;
}

#logo {
  display: block;
  margin: 0 auto;
}

.main-title {
  text-align: center;
}

#price1{
  float: left;
  /*border: 2px dashed red;*/
  width: 30%;
}

#price2{
  width: 30%;
  /*border: 2px dashed red;*/
  padding-left: 30px;
  float: left;
}

#price3{
  float: left;
  /*border: 2px dashed red;*/
  width: 30%;
  padding-left: 35px;
}
